<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Practice Vue.js</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="index.js" defer></script>
  </head>
  <body>
    <h1>Hello from HTML!</h1>
    <div id="app">
      <h1>{{ message }}</h1>
      <h1>{{ name }}</h1>
      <p>{{ city }}</p>
      <h2>{{ thing }}</h2>
      <hr>
      <button v-on:click="doThis()">do a thing</button>
      <hr>
      <button v-on:click="removeTheThing()">undo the thing</button>
      <hr>
      <button v-on:click="changeNameKatie()">change the name to Katie</button>
      <hr>
      <button v-on:click="changeNameJeff()">change the name to Jeff</button>
      <hr>
      <p>the instrument: {{ instrument }}</p>
      <p>Favortie instrument: <input type="text" v-model="instrument"></p>
      <hr>
      <p>enter a new name: <input type="text" v-model="name"></p>
      <p>the new name entered is: {{ name }}</p>
      <hr>
      <div v-for="games in games">
        {{ games }}
      </div>
      <input type="text" v-model="newGame"> <button v-on:click="addGame()">Add Game</button>
      <hr>
      <p>this is some example text<br>to test the break tag</p>
    </div>
  </body>
</html>